<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Script Scout</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/">Script Scout</a>
      </h1>
      <nav>

          <input type="text" placeholder="Search..">

        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}

          <div class="userlinks">
            <!-- Need to attribute icons to Pixel Perfect / Freepik -->
            <img src="../public/assets/images/bellicon.png" alt="notifications"> |
            <img src="../public/assets/images/usericon.png" alt="profile link"> |
            <button class="logout" id="logout">Logout</button>
          </div>

        {{else}}
        <a href="/login">Login</a>
        {{/if}}

        {{!-- FUTURE DEVELOPMENT
        <div class="navbar">
          <a href="/" alt="homepage">Home</a>
          <a href="/" alt="Practice">Forum</a>
          <a href="/" alt="homepage">Practice</a>
        </div> --}}

      </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>