<header>
    <div class="search-box">
        <form>
            <input type="search" placeholder="Search" />
        </form>
    </div>

    {{!-- FUTURE DEVELOPMENT
    <div class="navbar">
        <a href="/" alt="homepage">Home</a>
        <a href="/" alt="Practice">Forum</a>
        <a href="/" alt="homepage">Practice</a>
    </div> --}}

    <div id="profile-icons">
        <img src="../public/assets/bellicon.png" alt="notifications">
        <img src="../public/assets/usericon.png" alt="profile link">
    </div>
</header>

