<div class="d-flex justify-content-center">
    <div class="card col-6 mt-5">
        <h2 class="card-header">Enter username and password to log in</h2>
        <form id="login-form" class="card-body">
            <div class="mb-6">
                <label for="username" class="form-label">Username</label>
                <input placeholder="Enter email" type="username" class="form-control" id="username-login">
            </div>

            <div class="mb-6">
                <label for="password" class="form-label">Password</label>
                <input placeholder="Enter password" type="password" class="form-control" id="password-login">
                <div id="passwordHelp" class="form-text">Must be 6 digits long.</div>
            </div>

            <button type="submit" class="btn btn-primary my-2" id="login-btn">Log In</button>

            <div class="mb-6 my-1">
                <a href="/signup">Don't have an account? Signup here</a>
            </div>

        </form>
    </div>
</div>

<script src="js/login.js"></script>