<div class="container">
    <div class="profile-header">
        <h1 class="name">{{ req.name }}</h1>
        <h2 id ="profession" class="profession">{{ req.jobTitle }}</h2>
        <button id="edit-job-button">Edit</button>
        <p id="location" class="location">{{req.Location}}</p>
        <button id="edit-location-button">Edit</button>
    </div>

    <div class="profile-content">
        <div class="about">
            <h3 class="section-title">About Me</h3>
            <p id="about-text" class="about-text">
                {{req.aboutMe}}
            </p>
            <button id="edit-about-button">Edit</button>
        </div>

        <div class="projects">
            <h3 class="section-title">Projects</h3>
            <p id="projects-list" class="projects-text">
                Add your "Projects" here
            </p>
            <button id="add-project-button">Add</button>
        </div>
    </div>
</div>

<script src="/js/profile.js"></script>
