<div class="d-flex justify-content-center">
    <div class="card col-6 mt-5">
        <h2 class="card-header">Sign Up</h2>
        <form id="signup-form" class="card-body">
            <div class="mb-6">
                <label for="name" class="form-label">name</label>
                <input placeholder="Enter name" type="name" class="form-control" id="name-signup">
            </div>

            <div class="mb-6">
                <label for="email" class="form-label">Email</label>
                <input placeholder="Enter email" type="email" class="form-control" id="email-signup">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
    
            <div class="mb-6">
                <label for="password" class="form-label">Password</label>
                <input placeholder="Enter password" type="password" class="form-control" id="password-signup">
                <div id="passwordHelp" class="form-text">Must be 6 digits long.</div>
            </div>

            <div class="mb-6">
                <label for="job_title" class="form-label">Current Job Title</label>
                <input placeholder="Enter your current role" type="title" class="form-control" id="job-title-signup">
                <div id="passwordHelp" class="form-text">Unemployed, Student, Jr Developer, etc.</div>
            </div>

            <div class="mb-6">
                <label for="about" class="form-label">About Me</label>
                <input placeholder="Enter some details about yourself" type="text" class="form-control" id="about-signup">
            </div>

            <button type="submit" class="btn btn-primary my-2" id="signup-btn">Sign Up</button>

            <div class="mb-6 my-1">
                <a href="/login">Already have an account? Login here</a>
            </div>

        </form>
    </div>
</div>

<script src="js/signup.js"></script>