.job-desc {
    min-height: 250px;
}

.navbar-brand {
    height: 100px;
}

.edit-btn {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
}

.project-image {
    height: 150px;
}